<nav class="navbar" *ngIf="user$ | async as user">
  <div class="navbar__brand">
    <img
      ngSrc="assets/images/Logo+Facultad+de+Medicina-blanco.png"
      width="320"
      height="100"
      alt="Universidad de Antioquia"
      class="navbar__logo"
    />
  </div>

  <div class="navbar__user" (click)="goToProfile()" style="cursor: pointer">
    <div class="navbar__avatar">
      <img
        [src]="user.foto || defaultAvatar"
        [alt]="'Avatar de ' + (user.nombre || user.email)"
        referrerpolicy="no-referrer"
        crossorigin="anonymous"
        (error)="onAvatarError($event)"
      />
    </div>

    <div class="navbar__info">
      <div class="navbar__name">
        {{ user.nombre || "Usuario sin nombre" }}
      </div>
      <div class="navbar__email">
        {{ user.email }}
      </div>
    </div>
  </div>

  <div class="navbar__actions">
    <button class="btn btn--outline" (click)="logout()">Cerrar sesión</button>
  </div>
</nav>
